{{ template "views/partials/header" . }}

<main>
  <p style="font-weight: bold;">Recent pastes</p>
  
  <ul>
  {{ range .Pastes }}
    <li>
      <p>{{ .Id }}</p>
      <pre>{{ .Content }}</pre>
    </li>
  {{ end }}
  </ul>
</main>

{{ template "views/partials/footer" . }}
