@font-face {
  font-family: 'ElkjopBodytext';
  font-style: normal;
  font-weight: bold;
  src: url('elkjop/ElkjopBodytext-DemiBold.woff2') format('woff2'),
    url('elkjop/ElkjopBodytext-DemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'ElkjopBodytext';
  font-style: normal;
  font-weight: normal;
  src: url('elkjop/ElkjopBodytext-Regular.woff2') format('woff2'),
    url('elkjop/ElkjopBodytext-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'ElkjopHeadline-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('elkjop/ElkjopHeadline-Regular.woff2') format('woff2'),
    url('elkjop/ElkjopHeadline-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('opensans/open-sans-regular.woff2') format('woff2'), url('opensans/open-sans-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('opensans/open-sans-600.woff2') format('woff2'), url('opensans/open-sans-600.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}
