#canvas {
  border: thin solid black;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

span.counter {
  font-family: monospace;
}

.modal-box {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
}

.modal-box.hidden {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: max-content; /* Could be more or less, depending on screen size */
}
